/* HOME */

.info{
  display: flex;
  flex-direction: column;
  justify-content: center!important;
  align-items: center!important;
}
.sky-blue{
  background-color: var(--sky-blue);
  padding-right: 0;
  padding-bottom: 0;
}
.sky-blue .columns .column {
  margin-right: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.container .columns .ml-is-0 .is-mobile {
  margin-left: 0!important;
}
.lake-blue {
  background-color: var(--lake-blue);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
@media(max-width: 640px){
  .lake-blue > p strong {
    display: none;
  }
}
@media(max-width: 480px){
  .lake-blue > h3 {
    display: none;
  }

}
.lake-blue > h5 {
  color: white;
}
.lake-blue > h3,
.lake-blue > p strong {
  color: whitesmoke;
}

.sixties-green {
  background-color: var(--sixties-green);
  font-weight: bolder;
  color: white;
  border: none;
}
.sixties-green:hover {
  background-color: var(--sixties-green);
  color: white;
}